# Labs 09 (Section 11 - Data import and export)

In [3]:
import pandas as pd
import numpy as np
import matplotlib as plt
import math
import re
import csv

# magic f: %matplotlib inline` seems it is not important now, beacause automatically it works
%matplotlib inline
plt.style.use('dark_background')  # dark theme

## L001

In [17]:
# 4
df = pd.read_csv(
    './course-files/course-sources/mobile_internet_use_isoc_cimobi_frq.tsv',
    sep='\t'
)
df

,"indic_is,ind_type,unit,time\geo",EU28,EU27,EU15,EA,BE,BG,CZ,DK,DE,...,SI,SK,FI,SE,UK,IS,NO,ME,MK,TR
0,"I_IHDDAY,CB_EU_FOR,PC_IND,2012",15,15,16,12,15,: u,: u,22,7,...,: u,14 u,35 u,35 u,39,16,31 u,:,:,:
1,"I_IHDDAY,CB_EU_FOR,PC_IND_IU3,2012",21,21,21,17,19,: u,: u,22,11,...,: u,17 u,36 u,40 u,46 u,17,32 u,:,:,:
2,"I_IHDDAY,CB_EU_FOR,PC_IND_IUHD,2012",57,57,57,55,48,: u,: u,49 u,60,...,: u,: u,: u,: u,60 u,40 u,50 u,:,:,:
3,"I_IHDDAY,CB_EXT_EU,PC_IND,2012",21,21,22,13,11,25 u,:,35,12,...,3,: u,22,39,39,16 u,32 u,:,:,:
4,"I_IHDDAY,CB_EXT_EU,PC_IND_IU3,2012",28,28,29,19,15,28 u,:,39,14,...,5,: u,24 u,42,43,17 u,32 u,:,:,:
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
442,"I_IHDLTWK,Y75_MAX,PC_IND_IU3,2012",:,:,:,:,:,:,: u,:,2,...,:,: u,:,:,5,:,15 u,:,:,:
443,"I_IHDLTWK,Y75_MAX,PC_IND_IUHD,2012",:,:,:,:,:,:,: u,:,: u,...,:,:,:,:,: u,:,: u,:,:,:
444,"I_IHDUSE,CB_EU_FOR,PC_IND,2012",22,22,22,18,26,: u,: u,32,10,...,: u,18 u,45 u,43 u,56,29,49 u,:,:,:
445,"I_IHDUSE,CB_EU_FOR,PC_IND_IU3,2012",30,30,30,25,33,: u,: u,33,15,...,: u,22 u,47 u,48 u,67 u,30,51 u,:,:,:
446,"I_IHDUSE,CB_EU_FOR,PC_IND_IUHD,2012",82,82,82,81,82,: u,: u,72 u,81,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
df_desc = df['indic_is,ind_type,unit,time\\geo']
df_desc

0           I_IHDDAY,CB_EU_FOR,PC_IND,2012
1       I_IHDDAY,CB_EU_FOR,PC_IND_IU3,2012
2      I_IHDDAY,CB_EU_FOR,PC_IND_IUHD,2012
3           I_IHDDAY,CB_EXT_EU,PC_IND,2012
4       I_IHDDAY,CB_EXT_EU,PC_IND_IU3,2012
                      ...
442      I_IHDLTWK,Y75_MAX,PC_IND_IU3,2012
443     I_IHDLTWK,Y75_MAX,PC_IND_IUHD,2012
444         I_IHDUSE,CB_EU_FOR,PC_IND,2012
445     I_IHDUSE,CB_EU_FOR,PC_IND_IU3,2012
446    I_IHDUSE,CB_EU_FOR,PC_IND_IUHD,2012
Name: indic_is,ind_type,unit,time\geo, Length: 447, dtype: object

In [19]:
# 5
df_desc = df_desc.str.split(',', expand=True)
df_desc

             0          1            2     3
0     I_IHDDAY  CB_EU_FOR       PC_IND  2012
1     I_IHDDAY  CB_EU_FOR   PC_IND_IU3  2012
2     I_IHDDAY  CB_EU_FOR  PC_IND_IUHD  2012
3     I_IHDDAY  CB_EXT_EU       PC_IND  2012
4     I_IHDDAY  CB_EXT_EU   PC_IND_IU3  2012
..         ...        ...          ...   ...
442  I_IHDLTWK    Y75_MAX   PC_IND_IU3  2012
443  I_IHDLTWK    Y75_MAX  PC_IND_IUHD  2012
444   I_IHDUSE  CB_EU_FOR       PC_IND  2012
445   I_IHDUSE  CB_EU_FOR   PC_IND_IU3  2012
446   I_IHDUSE  CB_EU_FOR  PC_IND_IUHD  2012

[447 rows x 4 columns]

In [20]:
df_desc.rename({0: 'indic_is', 1: 'ind_type', 2: 'unit', 3: 'time'}, axis=1)

      indic_is   ind_type         unit  time
0     I_IHDDAY  CB_EU_FOR       PC_IND  2012
1     I_IHDDAY  CB_EU_FOR   PC_IND_IU3  2012
2     I_IHDDAY  CB_EU_FOR  PC_IND_IUHD  2012
3     I_IHDDAY  CB_EXT_EU       PC_IND  2012
4     I_IHDDAY  CB_EXT_EU   PC_IND_IU3  2012
..         ...        ...          ...   ...
442  I_IHDLTWK    Y75_MAX   PC_IND_IU3  2012
443  I_IHDLTWK    Y75_MAX  PC_IND_IUHD  2012
444   I_IHDUSE  CB_EU_FOR       PC_IND  2012
445   I_IHDUSE  CB_EU_FOR   PC_IND_IU3  2012
446   I_IHDUSE  CB_EU_FOR  PC_IND_IUHD  2012

[447 rows x 4 columns]

In [21]:
# 6
df_desc.rename({0: 'indic_is', 1: 'ind_type', 2: 'unit', 3: 'time'}, axis=1, inplace=True)

In [22]:
# 7
df_desc.join(df)

,indic_is,ind_type,unit,time,"indic_is,ind_type,unit,time\geo",EU28,EU27,EU15,EA,BE,...,SI,SK,FI,SE,UK,IS,NO,ME,MK,TR
0,I_IHDDAY,CB_EU_FOR,PC_IND,2012,"I_IHDDAY,CB_EU_FOR,PC_IND,2012",15,15,16,12,15,...,: u,14 u,35 u,35 u,39,16,31 u,:,:,:
1,I_IHDDAY,CB_EU_FOR,PC_IND_IU3,2012,"I_IHDDAY,CB_EU_FOR,PC_IND_IU3,2012",21,21,21,17,19,...,: u,17 u,36 u,40 u,46 u,17,32 u,:,:,:
2,I_IHDDAY,CB_EU_FOR,PC_IND_IUHD,2012,"I_IHDDAY,CB_EU_FOR,PC_IND_IUHD,2012",57,57,57,55,48,...,: u,: u,: u,: u,60 u,40 u,50 u,:,:,:
3,I_IHDDAY,CB_EXT_EU,PC_IND,2012,"I_IHDDAY,CB_EXT_EU,PC_IND,2012",21,21,22,13,11,...,3,: u,22,39,39,16 u,32 u,:,:,:
4,I_IHDDAY,CB_EXT_EU,PC_IND_IU3,2012,"I_IHDDAY,CB_EXT_EU,PC_IND_IU3,2012",28,28,29,19,15,...,5,: u,24 u,42,43,17 u,32 u,:,:,:
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
442,I_IHDLTWK,Y75_MAX,PC_IND_IU3,2012,"I_IHDLTWK,Y75_MAX,PC_IND_IU3,2012",:,:,:,:,:,...,:,: u,:,:,5,:,15 u,:,:,:
443,I_IHDLTWK,Y75_MAX,PC_IND_IUHD,2012,"I_IHDLTWK,Y75_MAX,PC_IND_IUHD,2012",:,:,:,:,:,...,:,:,:,:,: u,:,: u,:,:,:
444,I_IHDUSE,CB_EU_FOR,PC_IND,2012,"I_IHDUSE,CB_EU_FOR,PC_IND,2012",22,22,22,18,26,...,: u,18 u,45 u,43 u,56,29,49 u,:,:,:
445,I_IHDUSE,CB_EU_FOR,PC_IND_IU3,2012,"I_IHDUSE,CB_EU_FOR,PC_IND_IU3,2012",30,30,30,25,33,...,: u,22 u,47 u,48 u,67 u,30,51 u,:,:,:
446,I_IHDUSE,CB_EU_FOR,PC_IND_IUHD,2012,"I_IHDUSE,CB_EU_FOR,PC_IND_IUHD,2012",82,82,82,81,82,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
df_desc = df_desc.join(df)

In [27]:
# 8
df_desc.drop('indic_is,ind_type,unit,time\geo', axis=1)

,indic_is,ind_type,unit,time,EU28,EU27,EU15,EA,BE,BG,...,SI,SK,FI,SE,UK,IS,NO,ME,MK,TR
0,I_IHDDAY,CB_EU_FOR,PC_IND,2012,15,15,16,12,15,: u,...,: u,14 u,35 u,35 u,39,16,31 u,:,:,:
1,I_IHDDAY,CB_EU_FOR,PC_IND_IU3,2012,21,21,21,17,19,: u,...,: u,17 u,36 u,40 u,46 u,17,32 u,:,:,:
2,I_IHDDAY,CB_EU_FOR,PC_IND_IUHD,2012,57,57,57,55,48,: u,...,: u,: u,: u,: u,60 u,40 u,50 u,:,:,:
3,I_IHDDAY,CB_EXT_EU,PC_IND,2012,21,21,22,13,11,25 u,...,3,: u,22,39,39,16 u,32 u,:,:,:
4,I_IHDDAY,CB_EXT_EU,PC_IND_IU3,2012,28,28,29,19,15,28 u,...,5,: u,24 u,42,43,17 u,32 u,:,:,:
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
442,I_IHDLTWK,Y75_MAX,PC_IND_IU3,2012,:,:,:,:,:,:,...,:,: u,:,:,5,:,15 u,:,:,:
443,I_IHDLTWK,Y75_MAX,PC_IND_IUHD,2012,:,:,:,:,:,:,...,:,:,:,:,: u,:,: u,:,:,:
444,I_IHDUSE,CB_EU_FOR,PC_IND,2012,22,22,22,18,26,: u,...,: u,18 u,45 u,43 u,56,29,49 u,:,:,:
445,I_IHDUSE,CB_EU_FOR,PC_IND_IU3,2012,30,30,30,25,33,: u,...,: u,22 u,47 u,48 u,67 u,30,51 u,:,:,:
446,I_IHDUSE,CB_EU_FOR,PC_IND_IUHD,2012,82,82,82,81,82,: u,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
df_desc.drop('indic_is,ind_type,unit,time\geo', axis=1, inplace=True)

In [29]:
# 9
pd.read_json('./course-files/course-sources/world-heritage-unesco-list.json')

,datasetid,recordid,fields,geometry,record_timestamp
0,world-heritage-unesco-list,ff1f5b718ce2ee87f18dfaf20610f257979f2f4a,"{'category': 'Cultural', 'short_description_en...","{'type': 'Point', 'coordinates': [26.69139, 53...",2017-10-17T17:34:52+02:00
1,world-heritage-unesco-list,0fd1ad38878a73b01bf59ed430446e098709cea1,"{'category': 'Natural', 'short_description_en'...","{'type': 'Point', 'coordinates': [14.996666666...",2017-10-17T17:34:52+02:00
2,world-heritage-unesco-list,fa66a8d51c28871277f1cdd9c0f2d092a423ff5f,"{'category': 'Cultural', 'short_description_en...","{'type': 'Point', 'coordinates': [-112.91611, ...",2017-10-17T17:34:52+02:00
3,world-heritage-unesco-list,b16a410e99f603ef138909f6de916de08f0cfdc2,"{'category': 'Cultural', 'short_description_en...","{'type': 'Point', 'coordinates': [10.33333, 24...",2017-10-17T17:34:52+02:00
4,world-heritage-unesco-list,bb09d483a4ca7411a334314fb13f13301fa51bc0,"{'category': 'Natural', 'short_description_en'...","{'type': 'Point', 'coordinates': [114.91667, 4...",2017-10-17T17:34:52+02:00
...,...,...,...,...,...
1047,world-heritage-unesco-list,56eb288886ea2292e967d1f1bffa113716b54a13,"{'category': 'Cultural', 'short_description_en...","{'type': 'Point', 'coordinates': [-1.361388889...",2017-10-17T17:34:52+02:00
1048,world-heritage-unesco-list,ba0194f29e91fc29ab548a5d8027732270c545ff,"{'category': 'Cultural', 'short_description_en...","{'type': 'Point', 'coordinates': [48.79667, 36...",2017-10-17T17:34:52+02:00
1049,world-heritage-unesco-list,9cac2d1355326552b3d7f353477555faca6d121b,"{'category': 'Natural', 'short_description_en'...","{'type': 'Point', 'coordinates': [20.505555555...",2017-10-17T17:34:52+02:00
1050,world-heritage-unesco-list,0d93d20a163f316c5cb8b3380ac1b24efa32b4d2,"{'category': 'Cultural', 'short_description_en...","{'type': 'Point', 'coordinates': [57.503166666...",2017-10-17T17:34:52+02:00
1051,world-heritage-unesco-list,e0008b2c6110a51915e4314b598e736676f0f74d,"{'category': 'Cultural', 'short_description_en...","{'type': 'Point', 'coordinates': [-1.51056, 48...",2017-10-17T17:34:52+02:00

## L002

In [3]:
# 2
mcdonalds = pd.read_csv(
    './course-files/course-sources/Mcdonalds.csv',
    usecols=['Category', 'Item', 'Calories', 'TotalFat']
)
mcdonalds

,Category,Item,Calories,TotalFat
0,Breakfast,Egg McMuffin,300,13.0
1,Breakfast,Egg White Delight,250,8.0
2,Breakfast,Sausage McMuffin,370,23.0
3,Breakfast,Sausage McMuffin with Egg,450,28.0
4,Breakfast,Sausage McMuffin with Egg Whites,400,23.0
...,...,...,...,...
255,Smoothies & Shakes,McFlurry with Oreo Cookies (Small),510,17.0
256,Smoothies & Shakes,McFlurry with Oreo Cookies (Medium),690,23.0
257,Smoothies & Shakes,McFlurry with Oreo Cookies (Snack),340,11.0
258,Smoothies & Shakes,McFlurry with Reese's Peanut Butter Cups (Medium),810,32.0
259,Smoothies & Shakes,McFlurry with Reese's Peanut Butter Cups (Snack),410,16.0

In [34]:
# 3.1
mcdonalds.to_csv(
    './course-files/course-sources/mc-1.csv',
    index=False
)
pd.read_csv('./course-files/course-sources/mc-1.csv')

,Category,Item,Calories,TotalFat
0,Breakfast,Egg McMuffin,300,13.0
1,Breakfast,Egg White Delight,250,8.0
2,Breakfast,Sausage McMuffin,370,23.0
3,Breakfast,Sausage McMuffin with Egg,450,28.0
4,Breakfast,Sausage McMuffin with Egg Whites,400,23.0
...,...,...,...,...
255,Smoothies & Shakes,McFlurry with Oreo Cookies (Small),510,17.0
256,Smoothies & Shakes,McFlurry with Oreo Cookies (Medium),690,23.0
257,Smoothies & Shakes,McFlurry with Oreo Cookies (Snack),340,11.0
258,Smoothies & Shakes,McFlurry with Reese's Peanut Butter Cups (Medium),810,32.0
259,Smoothies & Shakes,McFlurry with Reese's Peanut Butter Cups (Snack),410,16.0

In [35]:
# 3.2
mcdonalds.to_csv(
    './course-files/course-sources/mc-2.csv',
    index=False,
    quoting=csv.QUOTE_NONNUMERIC
)
pd.read_csv('./course-files/course-sources/mc-2.csv')

,Category,Item,Calories,TotalFat
0,Breakfast,Egg McMuffin,300,13.0
1,Breakfast,Egg White Delight,250,8.0
2,Breakfast,Sausage McMuffin,370,23.0
3,Breakfast,Sausage McMuffin with Egg,450,28.0
4,Breakfast,Sausage McMuffin with Egg Whites,400,23.0
...,...,...,...,...
255,Smoothies & Shakes,McFlurry with Oreo Cookies (Small),510,17.0
256,Smoothies & Shakes,McFlurry with Oreo Cookies (Medium),690,23.0
257,Smoothies & Shakes,McFlurry with Oreo Cookies (Snack),340,11.0
258,Smoothies & Shakes,McFlurry with Reese's Peanut Butter Cups (Medium),810,32.0
259,Smoothies & Shakes,McFlurry with Reese's Peanut Butter Cups (Snack),410,16.0

In [36]:
# 3.3
mcdonalds.to_csv(
    './course-files/course-sources/mc-2.csv',
    index=False,
    quoting=csv.QUOTE_NONNUMERIC,
    decimal=','
)
pd.read_csv('./course-files/course-sources/mc-2.csv')

,Category,Item,Calories,TotalFat
0,Breakfast,Egg McMuffin,300,"13,0"
1,Breakfast,Egg White Delight,250,"8,0"
2,Breakfast,Sausage McMuffin,370,"23,0"
3,Breakfast,Sausage McMuffin with Egg,450,"28,0"
4,Breakfast,Sausage McMuffin with Egg Whites,400,"23,0"
...,...,...,...,...
255,Smoothies & Shakes,McFlurry with Oreo Cookies (Small),510,"17,0"
256,Smoothies & Shakes,McFlurry with Oreo Cookies (Medium),690,"23,0"
257,Smoothies & Shakes,McFlurry with Oreo Cookies (Snack),340,"11,0"
258,Smoothies & Shakes,McFlurry with Reese's Peanut Butter Cups (Medium),810,"32,0"
259,Smoothies & Shakes,McFlurry with Reese's Peanut Butter Cups (Snack),410,"16,0"

In [37]:
# 3.5
mcdonalds.to_csv(
    './course-files/course-sources/mc-5.csv',
    index=False,
    quoting=csv.QUOTE_NONNUMERIC,
    decimal=',',
    columns=['Item', 'TotalFat']
)
pd.read_csv('./course-files/course-sources/mc-5.csv')

                                                  Item TotalFat
0                                         Egg McMuffin     13,0
1                                    Egg White Delight      8,0
2                                     Sausage McMuffin     23,0
3                            Sausage McMuffin with Egg     28,0
4                     Sausage McMuffin with Egg Whites     23,0
..                                                 ...      ...
255                 McFlurry with Oreo Cookies (Small)     17,0
256                McFlurry with Oreo Cookies (Medium)     23,0
257                 McFlurry with Oreo Cookies (Snack)     11,0
258  McFlurry with Reese's Peanut Butter Cups (Medium)     32,0
259   McFlurry with Reese's Peanut Butter Cups (Snack)     16,0

[260 rows x 2 columns]

In [40]:
# 4
mcdonalds.to_json(
    './course-files/course-sources/mc-6.json',
#     index=False,
#     quoting=csv.QUOTE_NONNUMERIC,
#     decimal=',',
#     columns=['Item', 'TotalFat']
)
pd.read_json('./course-files/course-sources/mc-6.json')

,Category,Item,Calories,TotalFat
0,Breakfast,Egg McMuffin,300,13.0
1,Breakfast,Egg White Delight,250,8.0
2,Breakfast,Sausage McMuffin,370,23.0
3,Breakfast,Sausage McMuffin with Egg,450,28.0
4,Breakfast,Sausage McMuffin with Egg Whites,400,23.0
...,...,...,...,...
255,Smoothies & Shakes,McFlurry with Oreo Cookies (Small),510,17.0
256,Smoothies & Shakes,McFlurry with Oreo Cookies (Medium),690,23.0
257,Smoothies & Shakes,McFlurry with Oreo Cookies (Snack),340,11.0
258,Smoothies & Shakes,McFlurry with Reese's Peanut Butter Cups (Medium),810,32.0
259,Smoothies & Shakes,McFlurry with Reese's Peanut Butter Cups (Snack),410,16.0

In [41]:
# 5
htm = mcdonalds.to_html()
htm

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Category</th>\n      <th>Item</th>\n      <th>Calories</th>\n      <th>TotalFat</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Breakfast</td>\n      <td>Egg McMuffin</td>\n      <td>300</td>\n      <td>13.0</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Breakfast</td>\n      <td>Egg White Delight</td>\n      <td>250</td>\n      <td>8.0</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Breakfast</td>\n      <td>Sausage McMuffin</td>\n      <td>370</td>\n      <td>23.0</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Breakfast</td>\n      <td>Sausage McMuffin with Egg</td>\n      <td>450</td>\n      <td>28.0</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Breakfast</td>\n      <td>Sausage McMuffin with Egg Whites</td>\n      <td>400</td>\n      <td>23.0</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Breakfast</td>\n      <td>Steak &amp; Egg McMuffin</td>\n      <td>430</td>\n      <td>23.0</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Breakfast</td>\n      <td>Bacon, Egg &amp; Cheese Biscuit (Regular Biscuit)</td>\n      <td>460</td>\n      <td>26.0</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>Breakfast</td>\n      <td>Bacon, Egg &amp; Cheese Biscuit (Large Biscuit)</td>\n      <td>520</td>\n      <td>30.0</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Breakfast</td>\n      <td>Bacon, Egg &amp; Cheese Biscuit with Egg Whites (Regular Biscuit)</td>\n      <td>410</td>\n      <td>20.0</td>\n    </tr>\n    <tr>\n      <th>9</th>\n      <td>Breakfast</td>\n      <td>Bacon, Egg &amp; Cheese Biscuit with Egg Whites (Large Biscuit)</td>\n      <td>470</td>\n      <td>25.0</td>\n    </tr>\n    <tr>\n      <th>10</th>\n      <td>Breakfast</td>\n      <td>Sausage Biscuit (Regular Biscuit)</td>\n      <td>430</td>\n      <td>27.0</td>\n    </tr>\n    <tr>\n      <th>11</th>\n      <td>Breakfast</td>\n      <td>Sausage Biscuit (Large Biscuit)</td>\n      <td>480</td>\n      <td>31.0</td>\n    </tr>\n    <tr>\n      <th>12</th>\n      <td>Breakfast</td>\n      <td>Sausage Biscuit with Egg (Regular Biscuit)</td>\n      <td>510</td>\n      <td>33.0</td>\n    </tr>\n    <tr>\n      <th>13</th>\n      <td>Breakfast</td>\n      <td>Sausage Biscuit with Egg (Large Biscuit)</td>\n      <td>570</td>\n      <td>37.0</td>\n    </tr>\n    <tr>\n      <th>14</th>\n      <td>Breakfast</td>\n      <td>Sausage Biscuit with Egg Whites (Regular Biscuit)</td>\n      <td>460</td>\n      <td>27.0</td>\n    </tr>\n    <tr>\n      <th>15</th>\n      <td>Breakfast</td>\n      <td>Sausage Biscuit with Egg Whites (Large Biscuit)</td>\n      <td>520</td>\n      <td>32.0</td>\n    </tr>\n    <tr>\n      <th>16</th>\n      <td>Breakfast</td>\n      <td>Southern Style Chicken Biscuit (Regular Biscuit)</td>\n      <td>410</td>\n      <td>20.0</td>\n    </tr>\n    <tr>\n      <th>17</th>\n      <td>Breakfast</td>\n      <td>Southern Style Chicken Biscuit (Large Biscuit)</td>\n      <td>470</td>\n      <td>24.0</td>\n    </tr>\n    <tr>\n      <th>18</th>\n      <td>Breakfast</td>\n      <td>Steak &amp; Egg Biscuit (Regular Biscuit)</td>\n      <td>540</td>\n      <td>32.0</td>\n    </tr>\n    <tr>\n      <th>19</th>\n      <td>Breakfast</td>\n      <td>Bacon, Egg &amp; Cheese McGriddles</td>\n      <td>460</td>\n      <td>21.0</td>\n    </tr>\n    <tr>\n      <th>20</th>\n      <td>Breakfast</td>\n      <td>Bacon, Egg &amp; Cheese McGriddles with Egg Whites</td>\n      <td>400</td>\n      <td>15.0</td>\n    </tr>\n    <tr>\n      <th>21</th>\n      <td>Breakfast</td>\n      <td>Sausage McGriddles</td>\n      <td>420</td>\n      <td>22.0</td>\n    </tr>\n    <tr>\n      <th>22</th>\n      <td>Breakfast</td>\n      <td>Sausage, Egg &amp; Cheese McGriddles</td>\n      <td>550</td>\n      <td>31.0</td>\n    </tr>\n    <tr>\n      <th>23</th>\n      <td>Breakfast</td>\n      <td>Sausage, Egg &amp; Cheese McGriddles with Egg Whites</td>\n      <td>500</td>\n      <td>26.0</td>\n    </tr>\n    <tr>\n      <th>24</th>\n      <td>Breakfast</td>\n      <td>Bacon, Egg &amp; Cheese Bagel</td>\n      <td>620</td>\n      <td>31.0</td>\n    </tr>\n    <tr>\n      <th>25</th>\n      <td>Breakfast</td>\n      <td>Bacon, Egg &amp; Cheese Bagel with Egg Whites</td>\n      <td>570</td>\n      <td>25.0</td>\n    </tr>\n    <tr>\n      <th>26</th>\n      <td>Breakfast</td>\n      <td>Steak, Egg &amp; Cheese Bagel</td>\n      <td>670</td>\n      <td>35.0</td>\n    </tr>\n    <tr>\n      <th>27</th>\n      <td>Breakfast</td>\n      <td>Big Breakfast (Regular Biscuit)</td>\n      <td>740</td>\n      <td>48.0</td>\n    </tr>\n    <tr>\n      <th>28</th>\n      <td>Breakfast</td>\n      <td>Big Breakfast (Large Biscuit)</td>\n      <td>800</td>\n      <td>52.0</td>\n    </tr>\n    <tr>\n      <th>29</th>\n      <td>Breakfast</td>\n      <td>Big Breakfast with Egg Whites (Regular Biscuit)</td>\n      <td>640</td>\n      <td>37.0</td>\n    </tr>\n    <tr>\n      <th>30</th>\n      <td>Breakfast</td>\n      <td>Big Breakfast with Egg Whites (Large Biscuit)</td>\n      <td>690</td>\n      <td>41.0</td>\n    </tr>\n    <tr>\n      <th>31</th>\n      <td>Breakfast</td>\n      <td>Big Breakfast with Hotcakes (Regular Biscuit)</td>\n      <td>1090</td>\n      <td>56.0</td>\n    </tr>\n    <tr>\n      <th>32</th>\n      <td>Breakfast</td>\n      <td>Big Breakfast with Hotcakes (Large Biscuit)</td>\n      <td>1150</td>\n      <td>60.0</td>\n    </tr>\n    <tr>\n      <th>33</th>\n      <td>Breakfast</td>\n      <td>Big Breakfast with Hotcakes and Egg Whites (Regular Biscuit)</td>\n      <td>990</td>\n      <td>46.0</td>\n    </tr>\n    <tr>\n      <th>34</th>\n      <td>Breakfast</td>\n      <td>Big Breakfast with Hotcakes and Egg Whites (Large Biscuit)</td>\n      <td>1050</td>\n      <td>50.0</td>\n    </tr>\n    <tr>\n      <th>35</th>\n      <td>Breakfast</td>\n      <td>Hotcakes</td>\n      <td>350</td>\n      <td>9.0</td>\n    </tr>\n    <tr>\n      <th>36</th>\n      <td>Breakfast</td>\n      <td>Hotcakes and Sausage</td>\n      <td>520</td>\n      <td>24.0</td>\n    </tr>\n    <tr>\n      <th>37</th>\n      <td>Breakfast</td>\n      <td>Sausage Burrito</td>\n      <td>300</td>\n      <td>16.0</td>\n    </tr>\n    <tr>\n      <th>38</th>\n      <td>Breakfast</td>\n      <td>Hash Brown</td>\n      <td>150</td>\n      <td>9.0</td>\n    </tr>\n    <tr>\n      <th>39</th>\n      <td>Breakfast</td>\n      <td>Cinnamon Melts</td>\n      <td>460</td>\n      <td>19.0</td>\n    </tr>\n    <tr>\n      <th>40</th>\n      <td>Breakfast</td>\n      <td>Fruit &amp; Maple Oatmeal</td>\n      <td>290</td>\n      <td>4.0</td>\n    </tr>\n    <tr>\n      <th>41</th>\n      <td>Breakfast</td>\n      <td>Fruit &amp; Maple Oatmeal without Brown Sugar</td>\n      <td>260</td>\n      <td>4.0</td>\n    </tr>\n    <tr>\n      <th>42</th>\n      <td>Beef &amp; Pork</td>\n      <td>Big Mac</td>\n      <td>530</td>\n      <td>27.0</td>\n    </tr>\n    <tr>\n      <th>43</th>\n      <td>Beef &amp; Pork</td>\n      <td>Quarter Pounder with Cheese</td>\n      <td>520</td>\n      <td>26.0</td>\n    </tr>\n    <tr>\n      <th>44</th>\n      <td>Beef &amp; Pork</td>\n      <td>Quarter Pounder with Bacon &amp; Cheese</td>\n      <td>600</td>\n      <td>29.0</td>\n    </tr>\n    <tr>\n      <th>45</th>\n      <td>Beef &amp; Pork</td>\n      <td>Quarter Pounder with Bacon Habanero Ranch</td>\n      <td>610</td>\n      <td>31.0</td>\n    </tr>\n    <tr>\n      <th>46</th>\n      <td>Beef &amp; Pork</td>\n      <td>Quarter Pounder Deluxe</td>\n      <td>540</td>\n      <td>27.0</td>\n    </tr>\n    <tr>\n      <th>47</th>\n      <td>Beef &amp; Pork</td>\n      <td>Double Quarter Pounder with Cheese</td>\n      <td>750</td>\n      <td>43.0</td>\n    </tr>\n    <tr>\n      <th>48</th>\n      <td>Beef &amp; Pork</td>\n      <td>Hamburger</td>\n      <td>240</td>\n      <td>8.0</td>\n    </tr>\n    <tr>\n      <th>49</th>\n      <td>Beef &amp; Pork</td>\n      <td>Cheeseburger</td>\n      <td>290</td>\n      <td>11.0</td>\n    </tr>\n    <tr>\n      <th>50</th>\n      <td>Beef &amp; Pork</td>\n      <td>Double Cheeseburger</td>\n      <td>430</td>\n      <td>21.0</td>\n    </tr>\n    <tr>\n      <th>51</th>\n      <td>Beef &amp; Pork</td>\n      <td>Bacon Clubhouse Burger</td>\n      <td>720</td>\n      <td>40.0</td>\n    </tr>\n    <tr>\n      <th>52</th>\n      <td>Beef &amp; Pork</td>\n      <td>McDouble</td>\n      <td>380</td>\n      <td>17.0</td>\n    </tr>\n    <tr>\n      <th>53</th>\n      <td>Beef &amp; Pork</td>\n      <td>Bacon McDouble</td>\n      <td>440</td>\n      <td>22.0</td>\n    </tr>\n    <tr>\n      <th>54</th>\n      <td>Beef &amp; Pork</td>\n      <td>Daily Double</td>\n      <td>430</td>\n      <td>22.0</td>\n    </tr>\n    <tr>\n      <th>55</th>\n      <td>Beef &amp; Pork</td>\n      <td>Jalapeño Double</td>\n      <td>430</td>\n      <td>23.0</td>\n    </tr>\n    <tr>\n      <th>56</th>\n      <td>Beef &amp; Pork</td>\n      <td>McRib</td>\n      <td>500</td>\n      <td>26.0</td>\n    </tr>\n    <tr>\n      <th>57</th>\n      <td>Chicken &amp; Fish</td>\n      <td>Premium Crispy Chicken Classic Sandwich</td>\n      <td>510</td>\n      <td>22.0</td>\n    </tr>\n    <tr>\n      <th>58</th>\n      <td>Chicken &amp; Fish</td>\n      <td>Premium Grilled Chicken Classic Sandwich</td>\n      <td>350</td>\n      <td>9.0</td>\n    </tr>\n    <tr>\n      <th>59</th>\n      <td>Chicken &amp; Fish</td>\n      <td>Premium Crispy Chicken Club Sandwich</td>\n      <td>670</td>\n      <td>33.0</td>\n    </tr>\n    <tr>\n      <th>60</th>\n      <td>Chicken &amp; Fish</td>\n      <td>Premium Grilled Chicken Club Sandwich</td>\n      <td>510</td>\n      <td>20.0</td>\n    </tr>\n    <tr>\n      <th>61</th>\n      <td>Chicken &amp; Fish</td>\n      <td>Premium Crispy Chicken Ranch BLT Sandwich</td>\n      <td>610</td>\n      <td>28.0</td>\n    </tr>\n    <tr>\n      <th>62</th>\n      <td>Chicken &amp; Fish</td>\n      <td>Premium Grilled Chicken Ranch BLT Sandwich</td>\n      <td>450</td>\n      <td>15.0</td>\n    </tr>\n    <tr>\n      <th>63</th>\n      <td>Chicken &amp; Fish</td>\n      <td>Bacon Clubhouse Crispy Chicken Sandwich</td>\n      <td>750</td>\n      <td>38.0</td>\n    </tr>\n    <tr>\n      <th>64</th>\n      <td>Chicken &amp; Fish</td>\n      <td>Bacon Clubhouse Grilled Chicken Sandwich</td>\n      <td>590</td>\n      <td>25.0</td>\n    </tr>\n    <tr>\n      <th>65</th>\n      <td>Chicken &amp; Fish</td>\n      <td>Southern Style Crispy Chicken Sandwich</td>\n      <td>430</td>\n      <td>19.0</td>\n    </tr>\n    <tr>\n      <th>66</th>\n      <td>Chicken &amp; Fish</td>\n      <td>McChicken</td>\n      <td>360</td>\n      <td>16.0</td>\n    </tr>\n    <tr>\n      <th>67</th>\n      <td>Chicken &amp; Fish</td>\n      <td>Bacon Cheddar McChicken</td>\n      <td>480</td>\n      <td>24.0</td>\n    </tr>\n    <tr>\n      <th>68</th>\n      <td>Chicken &amp; Fish</td>\n      <td>Bacon Buffalo Ranch McChicken</td>\n      <td>430</td>\n      <td>21.0</td>\n    </tr>\n    <tr>\n      <th>69</th>\n      <td>Chicken &amp; Fish</td>\n      <td>Buffalo Ranch McChicken</td>\n      <td>360</td>\n      <td>16.0</td>\n    </tr>\n    <tr>\n      <th>70</th>\n      <td>Chicken &amp; Fish</td>\n      <td>Premium McWrap Chicken &amp; Bacon (Crispy Chicken)</td>\n      <td>630</td>\n      <td>32.0</td>\n    </tr>\n    <tr>\n      <th>71</th>\n      <td>Chicken &amp; Fish</td>\n      <td>Premium McWrap Chicken &amp; Bacon (Grilled Chicken)</td>\n      <td>480</td>\n      <td>19.0</td>\n    </tr>\n    <tr>\n      <th>72</th>\n      <td>Chicken &amp; Fish</td>\n      <td>Premium McWrap Chicken &amp; Ranch (Crispy Chicken)</td>\n      <td>610</td>\n      <td>31.0</td>\n    </tr>\n    <tr>\n      <th>73</th>\n      <td>Chicken &amp; Fish</td>\n      <td>Premium McWrap Chicken &amp; Ranch (Grilled Chicken)</td>\n      <td>450</td>\n      <td>18.0</td>\n    </tr>\n    <tr>\n      <th>74</th>\n      <td>Chicken &amp; Fish</td>\n      <td>Premium McWrap Southwest Chicken (Crispy Chicken)</td>\n      <td>670</td>\n      <td>33.0</td>\n    </tr>\n    <tr>\n      <th>75</th>\n      <td>Chicken &amp; Fish</td>\n      <td>Premium McWrap Southwest Chicken (Grilled Chicken)</td>\n      <td>520</td>\n      <td>20.0</td>\n    </tr>\n    <tr>\n      <th>76</th>\n      <td>Chicken &amp; Fish</td>\n      <td>Premium McWrap Chicken Sweet Chili (Crispy Chicken)</td>\n      <td>540</td>\n      <td>23.0</td>\n    </tr>\n    <tr>\n      <th>77</th>\n      <td>Chicken &amp; Fish</td>\n      <td>Premium McWrap Chicken Sweet Chili (Grilled Chicken)</td>\n      <td>380</td>\n      <td>10.0</td>\n    </tr>\n    <tr>\n      <th>78</th>\n      <td>Chicken &amp; Fish</td>\n      <td>Chicken McNuggets (4 piece)</td>\n      <td>190</td>\n      <td>12.0</td>\n    </tr>\n    <tr>\n      <th>79</th>\n      <td>Chicken &amp; Fish</td>\n      <td>Chicken McNuggets (6 piece)</td>\n      <td>280</td>\n      <td>18.0</td>\n    </tr>\n    <tr>\n      <th>80</th>\n      <td>Chicken &amp; Fish</td>\n      <td>Chicken McNuggets (10 piece)</td>\n      <td>470</td>\n      <td>30.0</td>\n    </tr>\n    <tr>\n      <th>81</th>\n      <td>Chicken &amp; Fish</td>\n      <td>Chicken McNuggets (20 piece)</td>\n      <td>940</td>\n      <td>59.0</td>\n    </tr>\n    <tr>\n      <th>82</th>\n      <td>Chicken &amp; Fish</td>\n      <td>Chicken McNuggets (40 piece)</td>\n      <td>1880</td>\n      <td>118.0</td>\n    </tr>\n    <tr>\n      <th>83</th>\n      <td>Chicken &amp; Fish</td>\n      <td>Filet-O-Fish</td>\n      <td>390</td>\n      <td>19.0</td>\n    </tr>\n    <tr>\n      <th>84</th>\n      <td>Salads</td>\n      <td>Premium Bacon Ranch Salad (without Chicken)</td>\n      <td>140</td>\n      <td>7.0</td>\n    </tr>\n    <tr>\n      <th>85</th>\n      <td>Salads</td>\n      <td>Premium Bacon Ranch Salad with Crispy Chicken</td>\n      <td>380</td>\n      <td>21.0</td>\n    </tr>\n    <tr>\n      <th>86</th>\n      <td>Salads</td>\n      <td>Premium Bacon Ranch Salad with Grilled Chicken</td>\n      <td>220</td>\n      <td>8.0</td>\n    </tr>\n    <tr>\n      <th>87</th>\n      <td>Salads</td>\n      <td>Premium Southwest Salad (without Chicken)</td>\n      <td>140</td>\n      <td>4.5</td>\n    </tr>\n    <tr>\n      <th>88</th>\n      <td>Salads</td>\n      <td>Premium Southwest Salad with Crispy Chicken</td>\n      <td>450</td>\n      <td>22.0</td>\n    </tr>\n    <tr>\n      <th>89</th>\n      <td>Salads</td>\n      <td>Premium Southwest Salad with Grilled Chicken</td>\n      <td>290</td>\n      <td>8.0</td>\n    </tr>\n    <tr>\n      <th>90</th>\n      <td>Snacks &amp; Sides</td>\n      <td>Chipotle BBQ Snack Wrap (Crispy Chicken)</td>\n      <td>340</td>\n      <td>15.0</td>\n    </tr>\n    <tr>\n      <th>91</th>\n      <td>Snacks &amp; Sides</td>\n      <td>Chipotle BBQ Snack Wrap (Grilled Chicken)</td>\n      <td>260</td>\n      <td>8.0</td>\n    </tr>\n    <tr>\n      <th>92</th>\n      <td>Snacks &amp; Sides</td>\n      <td>Honey Mustard Snack Wrap (Crispy Chicken)</td>\n      <td>330</td>\n      <td>15.0</td>\n    </tr>\n    <tr>\n      <th>93</th>\n      <td>Snacks &amp; Sides</td>\n      <td>Honey Mustard Snack Wrap (Grilled Chicken)</td>\n      <td>250</td>\n      <td>8.0</td>\n    </tr>\n    <tr>\n      <th>94</th>\n      <td>Snacks &amp; Sides</td>\n      <td>Ranch Snack Wrap (Crispy Chicken)</td>\n      <td>360</td>\n      <td>20.0</td>\n    </tr>\n    <tr>\n      <th>95</th>\n      <td>Snacks &amp; Sides</td>\n      <td>Ranch Snack Wrap (Grilled Chicken)</td>\n      <td>280</td>\n      <td>13.0</td>\n    </tr>\n    <tr>\n      <th>96</th>\n      <td>Snacks &amp; Sides</td>\n      <td>Small French Fries</td>\n      <td>230</td>\n      <td>11.0</td>\n    </tr>\n    <tr>\n      <th>97</th>\n      <td>Snacks &amp; Sides</td>\n      <td>Medium French Fries</td>\n      <td>340</td>\n      <td>16.0</td>\n    </tr>\n    <tr>\n      <th>98</th>\n      <td>Snacks &amp; Sides</td>\n      <td>Large French Fries</td>\n      <td>510</td>\n      <td>24.0</td>\n    </tr>\n    <tr>\n      <th>99</th>\n      <td>Snacks &amp; Sides</td>\n      <td>Kids French Fries</td>\n      <td>110</td>\n      <td>5.0</td>\n    </tr>\n    <tr>\n      <th>100</th>\n      <td>Snacks &amp; Sides</td>\n      <td>Side Salad</td>\n      <td>20</td>\n      <td>0.0</td>\n    </tr>\n    <tr>\n      <th>101</th>\n      <td>Snacks &amp; Sides</td>\n      <td>Apple Slices</td>\n      <td>15</td>\n      <td>0.0</td>\n    </tr>\n    <tr>\n      <th>102</th>\n      <td>Snacks &amp; Sides</td>\n      <td>Fruit \'n Yogurt Parfait</td>\n      <td>150</td>\n      <td>2.0</td>\n    </tr>\n    <tr>\n      <th>103</th>\n      <td>Desserts</td>\n      <td>Baked Apple Pie</td>\n      <td>250</td>\n      <td>13.0</td>\n    </tr>\n    <tr>\n      <th>104</th>\n      <td>Desserts</td>\n      <td>Chocolate Chip Cookie</td>\n      <td>160</td>\n      <td>8.0</td>\n    </tr>\n    <tr>\n      <th>105</th>\n      <td>Desserts</td>\n      <td>Oatmeal Raisin Cookie</td>\n      <td>150</td>\n      <td>6.0</td>\n    </tr>\n    <tr>\n      <th>106</th>\n      <td>Desserts</td>\n      <td>Kids Ice Cream Cone</td>\n      <td>45</td>\n      <td>1.5</td>\n    </tr>\n    <tr>\n      <th>107</th>\n      <td>Desserts</td>\n      <td>Hot Fudge Sundae</td>\n      <td>330</td>\n      <td>9.0</td>\n    </tr>\n    <tr>\n      <th>108</th>\n      <td>Desserts</td>\n      <td>Hot Caramel Sundae</td>\n      <td>340</td>\n      <td>8.0</td>\n    </tr>\n    <tr>\n      <th>109</th>\n      <td>Desserts</td>\n      <td>Strawberry Sundae</td>\n      <td>280</td>\n      <td>6.0</td>\n    </tr>\n    <tr>\n      <th>110</th>\n      <td>Beverages</td>\n      <td>Coca-Cola Classic (Small)</td>\n      <td>140</td>\n      <td>0.0</td>\n    </tr>\n    <tr>\n      <th>111</th>\n      <td>Beverages</td>\n      <td>Coca-Cola Classic (Medium)</td>\n      <td>200</td>\n      <td>0.0</td>\n    </tr>\n    <tr>\n      <th>112</th>\n      <td>Beverages</td>\n      <td>Coca-Cola Classic (Large)</td>\n      <td>280</td>\n      <td>0.0</td>\n    </tr>\n    <tr>\n      <th>113</th>\n      <td>Beverages</td>\n      <td>Coca-Cola Classic (Child)</td>\n      <td>100</td>\n      <td>0.0</td>\n    </tr>\n    <tr>\n      <th>114</th>\n      <td>Beverages</td>\n      <td>Diet Coke (Small)</td>\n      <td>0</td>\n      <td>0.0</td>\n    </tr>\n    <tr>\n      <th>115</th>\n      <td>Beverages</td>\n      <td>Diet Coke (Medium)</td>\n      <td>0</td>\n      <td>0.0</td>\n    </tr>\n    <tr>\n      <th>116</th>\n      <td>Beverages</td>\n      <td>Diet Coke (Large)</td>\n      <td>0</td>\n      <td>0.0</td>\n    </tr>\n    <tr>\n      <th>117</th>\n      <td>Beverages</td>\n      <td>Diet Coke (Child)</td>\n      <td>0</td>\n      <td>0.0</td>\n    </tr>\n    <tr>\n      <th>118</th>\n      <td>Beverages</td>\n      <td>Dr Pepper (Small)</td>\n      <td>140</td>\n      <td>0.0</td>\n    </tr>\n    <tr>\n      <th>119</th>\n      <td>Beverages</td>\n      <td>Dr Pepper (Medium)</td>\n      <td>190</td>\n      <td>0.0</td>\n    </tr>\n    <tr>\n      <th>120</th>\n      <td>Beverages</td>\n      <td>Dr Pepper (Large)</td>\n      <td>270</td>\n      <td>0.0</td>\n    </tr>\n    <tr>\n      <th>121</th>\n      <td>Beverages</td>\n      <td>Dr Pepper (Child)</td>\n      <td>100</td>\n      <td>0.0</td>\n    </tr>\n    <tr>\n      <th>122</th>\n      <td>Beverages</td>\n      <td>Diet Dr Pepper (Small)</td>\n      <td>0</td>\n      <td>0.0</td>\n    </tr>\n    <tr>\n      <th>123</th>\n      <td>Beverages</td>\n      <td>Diet Dr Pepper (Medium)</td>\n      <td>0</td>\n      <td>0.0</td>\n    </tr>\n    <tr>\n      <th>124</th>\n      <td>Beverages</td>\n      <td>Diet Dr Pepper (Large)</td>\n      <td>0</td>\n      <td>0.0</td>\n    </tr>\n    <tr>\n      <th>125</th>\n      <

In [54]:
# 6
import io
with open(file='./course-files/course-sources/mc-7.htm', mode='w', encoding='utf-8') as file:
    file.write(htm)

## L003

In [52]:
# 2
mcdonalds = pd.read_csv(
    './course-files/course-sources/Mcdonalds.csv',
    usecols=['Category', 'Item', 'Calories', 'TotalFat']
)
mcdonalds

,Category,Item,Calories,TotalFat
0,Breakfast,Egg McMuffin,300,13.0
1,Breakfast,Egg White Delight,250,8.0
2,Breakfast,Sausage McMuffin,370,23.0
3,Breakfast,Sausage McMuffin with Egg,450,28.0
4,Breakfast,Sausage McMuffin with Egg Whites,400,23.0
...,...,...,...,...
255,Smoothies & Shakes,McFlurry with Oreo Cookies (Small),510,17.0
256,Smoothies & Shakes,McFlurry with Oreo Cookies (Medium),690,23.0
257,Smoothies & Shakes,McFlurry with Oreo Cookies (Snack),340,11.0
258,Smoothies & Shakes,McFlurry with Reese's Peanut Butter Cups (Medium),810,32.0
259,Smoothies & Shakes,McFlurry with Reese's Peanut Butter Cups (Snack),410,16.0

In [53]:
# 3, 4, 5
excel_writer = pd.ExcelWriter('./course-files/course-sources/mcdonalds-excel_my_file.xlsx')
mcdonalds.to_excel(excel_writer, sheet_name='Menu', index=False)
excel_writer.save()

In [54]:
# 6
imported1 = pd.read_excel(
    './course-files/course-sources/mcdonalds-excel_my_file.xlsx'
)
imported1

,Category,Item,Calories,TotalFat
0,Breakfast,Egg McMuffin,300,13.0
1,Breakfast,Egg White Delight,250,8.0
2,Breakfast,Sausage McMuffin,370,23.0
3,Breakfast,Sausage McMuffin with Egg,450,28.0
4,Breakfast,Sausage McMuffin with Egg Whites,400,23.0
...,...,...,...,...
255,Smoothies & Shakes,McFlurry with Oreo Cookies (Small),510,17.0
256,Smoothies & Shakes,McFlurry with Oreo Cookies (Medium),690,23.0
257,Smoothies & Shakes,McFlurry with Oreo Cookies (Snack),340,11.0
258,Smoothies & Shakes,McFlurry with Reese's Peanut Butter Cups (Medium),810,32.0
259,Smoothies & Shakes,McFlurry with Reese's Peanut Butter Cups (Snack),410,16.0

In [55]:
# 7
imported1.Calories /= 2
imported1

,Category,Item,Calories,TotalFat
0,Breakfast,Egg McMuffin,150.0,13.0
1,Breakfast,Egg White Delight,125.0,8.0
2,Breakfast,Sausage McMuffin,185.0,23.0
3,Breakfast,Sausage McMuffin with Egg,225.0,28.0
4,Breakfast,Sausage McMuffin with Egg Whites,200.0,23.0
...,...,...,...,...
255,Smoothies & Shakes,McFlurry with Oreo Cookies (Small),255.0,17.0
256,Smoothies & Shakes,McFlurry with Oreo Cookies (Medium),345.0,23.0
257,Smoothies & Shakes,McFlurry with Oreo Cookies (Snack),170.0,11.0
258,Smoothies & Shakes,McFlurry with Reese's Peanut Butter Cups (Medium),405.0,32.0
259,Smoothies & Shakes,McFlurry with Reese's Peanut Butter Cups (Snack),205.0,16.0

In [60]:
# 8
excel_writer = pd.ExcelWriter(
    './course-files/course-sources/mcdonalds-excel_my_file.xlsx',
#     engine="openpyxl",  # default engine cannot append !!!
    mode="a"
)
imported1.to_excel(excel_writer, sheet_name='Menu Light', index=False)

ValueError: Append mode is not supported with xlsxwriter!

In [57]:
# 9
imported1.Calories /= 2
imported1

,Category,Item,Calories,TotalFat
0,Breakfast,Egg McMuffin,75.0,13.0
1,Breakfast,Egg White Delight,62.5,8.0
2,Breakfast,Sausage McMuffin,92.5,23.0
3,Breakfast,Sausage McMuffin with Egg,112.5,28.0
4,Breakfast,Sausage McMuffin with Egg Whites,100.0,23.0
...,...,...,...,...
255,Smoothies & Shakes,McFlurry with Oreo Cookies (Small),127.5,17.0
256,Smoothies & Shakes,McFlurry with Oreo Cookies (Medium),172.5,23.0
257,Smoothies & Shakes,McFlurry with Oreo Cookies (Snack),85.0,11.0
258,Smoothies & Shakes,McFlurry with Reese's Peanut Butter Cups (Medium),202.5,32.0
259,Smoothies & Shakes,McFlurry with Reese's Peanut Butter Cups (Snack),102.5,16.0

In [58]:
# 10, 11
imported1.to_excel(excel_writer, sheet_name='Menu Extra Light', index=False)
excel_writer.save()

In [62]:
# 12
final = pd.read_excel('./course-files/course-sources/mcdonalds-excel_my_file.xlsx',
                      sheet_name=[0,1,2])
final

{0:                Category                                               Item  \
 0             Breakfast                                       Egg McMuffin
 1             Breakfast                                  Egg White Delight
 2             Breakfast                                   Sausage McMuffin
 3             Breakfast                          Sausage McMuffin with Egg
 4             Breakfast                   Sausage McMuffin with Egg Whites
 ..                  ...                                                ...
 255  Smoothies & Shakes                 McFlurry with Oreo Cookies (Small)
 256  Smoothies & Shakes                McFlurry with Oreo Cookies (Medium)
 257  Smoothies & Shakes                 McFlurry with Oreo Cookies (Snack)
 258  Smoothies & Shakes  McFlurry with Reese's Peanut Butter Cups (Medium)
 259  Smoothies & Shakes   McFlurry with Reese's Peanut Butter Cups (Snack)

      Calories  TotalFat
 0         300      13.0
 1         250       8.0
 2         370      23.0
 3         450      28.0
 4         400      23.0
 ..        ...       ...
 255       510      17.0
 256       690      23.0
 257       340      11.0
 258       810      32.0
 259       410      16.0

 [260 rows x 4 columns],
 1:                Category                                               Item  \
 0             Breakfast                                       Egg McMuffin
 1             Breakfast                                  Egg White Delight
 2             Breakfast                                   Sausage McMuffin
 3             Breakfast                          Sausage McMuffin with Egg
 4             Breakfast                   Sausage McMuffin with Egg Whites
 ..                  ...                                                ...
 255  Smoothies & Shakes                 McFlurry with Oreo Cookies (Small)
 256  Smoothies & Shakes                McFlurry with Oreo Cookies (Medium)
 257  Smoothies & Shakes                 McFlurry with Oreo Cookies (Snack)
 258  Smoothies & Shakes  McFlurry with Reese's Peanut Butter Cups (Medium)
 259  Smoothies & Shakes   McFlurry with Reese's Peanut Butter Cups (Snack)

      Calories  TotalFat
 0       150.0      13.0
 1       125.0       8.0
 2       185.0      23.0
 3       225.0      28.0
 4       200.0      23.0
 ..        ...       ...
 255     255.0      17.0
 256     345.0      23.0
 257     170.0      11.0
 258     405.0      32.0
 259     205.0      16.0

 [260 rows x 4 columns],
 2:                Category                                               Item  \
 0             Breakfast                                       Egg McMuffin
 1             Breakfast                                  Egg White Delight
 2             Breakfast                                   Sausage McMuffin
 3             Breakfast                          Sausage McMuffin with Egg
 4             Breakfast                   Sausage McMuffin with Egg Whites
 ..                  ...                                                ...
 255  Smoothies & Shakes                 McFlurry with Oreo Cookies (Small)
 256  Smoothies & Shakes                McFlurry with Oreo Cookies (Medium)
 257  Smoothies & Shakes                 McFlurry with Oreo Cookies (Snack)
 258  Smoothies & Shakes  McFlurry with Reese's Peanut Butter Cups (Medium)
 259  Smoothies & Shakes   McFlurry with Reese's Peanut Butter Cups (Snack)

      Calories  TotalFat
 0        75.0      13.0
 1        62.5       8.0
 2        92.5      23.0
 3       112.5      28.0
 4       100.0      23.0
 ..        ...       ...
 255     127.5      17.0
 256     172.5      23.0
 257      85.0      11.0
 258     202.5      32.0
 259     102.5      16.0

 [260 rows x 4 columns]}

In [63]:
# 13
len(final)

3

In [66]:
# 14
final[0].head(2)

    Category               Item  Calories  TotalFat
0  Breakfast       Egg McMuffin       300      13.0
1  Breakfast  Egg White Delight       250       8.0

In [67]:
final[1].head(2)

    Category               Item  Calories  TotalFat
0  Breakfast       Egg McMuffin     150.0      13.0
1  Breakfast  Egg White Delight     125.0       8.0

In [68]:
final[2].head(2)

    Category               Item  Calories  TotalFat
0  Breakfast       Egg McMuffin      75.0      13.0
1  Breakfast  Egg White Delight      62.5       8.0